.detail-container {
    display: flex;
    gap: 30px;
    max-width: 800px;
    margin: 40px auto;
    align-items: center;
}
.menu-detail {
    display: flex;
    justify-content: center;   
}

.title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2rem;
    /* font-weight: 600; */
    text-align: center;
}

.menu-detail .img-menu {
    display: flex;
    justify-content: center;
    background: white;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    --card-height: 220px; /* tinggi 1 card */
    /* height: var(--card-height); */
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.menu-detail .desk-menu .qty-menu {
    margin-top: 130px;
}

.menu-detail img {
    width: 100%;
    height: auto;
}

.detail-img {
    width: 150px;
    border-radius: 15px;
}

.detail-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    color: #2e7d32;
    margin-bottom: 15px;
}

.desc {
    font-size: 18px;
    margin-bottom: 20px;
}

.qty-menu {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.back-btn {
    display: inline-block;
    background: #2e7d32;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}


form {
    padding: 10px 0;
}

.btn {
    background-color: #2e7d32;
    color: #fff;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 10px 20px;
    /* height: auto; */
    /* border: 1px solid red; */
}

.btn a {
    padding: 0;
}
