.menu-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    max-height: calc((var(--card-height) * 2) + 20px); /* 2 baris + gap */
    overflow: hidden;
}

.menu-card {
    background: white;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
        --card-height: 220px; /* tinggi 1 card */
    height: var(--card-height);
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.menu-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-card h3 {
    margin: 0;
    font-size: 18px;
    color: #2e7d32;
}

.menu-card p {
    font-size: 16px;
    color: #555;
}

.content {
    padding: 50px 10px;
}