.prev {
  position: relative;
  top: 0 !important;
}

.main {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 500px;
  border-radius: 10px;
  background-color: white;
  margin: 20px;

}

.title {
  font-size: 1.5rem;
}

 .selected {
        background-color: #3b82f6 !important; /* blue-500 */
        color: white !important;
        border-color: #3b82f6 !important;
    }